*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --black: #2f2f2f;
   --white: #fff;
   --red : #f83038;
}

.main{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: linear-gradient(#1c1c1c,#323232);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main::before{
    content: 'Adventure';
    color: rgba(255, 255, 255, 0.05);
    font-size: 16vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
}

header{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 80px;
}
.navigation{
   display: flex;    
}
.navigation li{
   list-style: none;
}

.navigation li a{
    text-decoration: none;
    position: relative;
    color: var(--white);
    margin-left: 40px;
    padding: 10px;
    transition: 0.25s;
}

.navigation li a:hover{
    border-radius: 30px;
    background: var(--red);
    box-shadow: 0 0 7px 5px var(--white);
}

.hero{
    position: relative;
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h2{
    font-size: 5rem;
    color: var(--white);
}
.hero .btn{
    text-decoration: none;
    padding: 16px 30px;
    margin-top: 20px;
    border-radius: 50px;
    background: var(--red);
    color: var(--white);
    transition: 0.5s;
}
.hero .btn:hover{  
    box-shadow: 0 0 7px 5px var(--white);
}
